# Dépendances
node_modules/

# Build Vite
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Variables d'environnement
.env
.env.local
.env.*.local

# Éditeurs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
